@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 1000;
}
.header_hidden {
    transform: translateY(-100%);
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    text-align: center;
}
.header_logo{
    padding-top: 10px;
}
.logo{
    width: 64px;
    height: 64px;
}
.nav{
    padding-top: 20px;
}
.nav_button{
    margin-left: 40px;
    font-size: 24px;
    font-family:'Monstserrat';
    color: black;
    text-decoration: none;
    background-color: #7b71ff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #7a71ffb9;
}
.nav_button:hover{
     box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
     transition: 0.5s;
}
.nav_link1{
    font-size: 20px;
    font-family:'Montserrat';
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.2s
}
.nav_link{
    margin-left: 25px;
    font-size: 20px;
    font-family:'Montserrat';
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all 0.2s
}
.nav_link1:hover{
    color: #B380F9;;
}
.nav_link:hover{
    color: #B380F9;;
}
.social_network{
    display: flex;
    vertical-align: top;
    padding-top: 30px;
}
.telegram_png,.instagram_png,.twitter_png,.facebook_png{
    width: 32px;
    height: 32px;
}
.facebook,.twitter,.telegram{
    margin-left: 15px;
    transition: all 0.2s;
}
.instagram{
    transition: all 0.2s;
}
.instagram:hover,.facebook:hover,.twitter:hover,.telegram:hover{
    opacity: 0.5;
}
.main{
    background-image: url('../background/18706309_rm251-aum-07-g.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    padding-top: 300px;
    text-align: center;
}
.welcome{
    font-size: 50px;
    font-family: 'Montserrat';
    color: #c4caff;
    letter-spacing: 2px;
}
.welcome_down{
    font-size: 30px;
    font-family: 'Montserrat';
    color: #c4caff;
    letter-spacing: 1px;
    margin-top: 20px;
}
.main_button{
    border: 1px solid white;
    text-decoration: none;
    color: #ffffff;
    width: 200px;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    padding: 10px 13px;
    font-size: 16px;
    font-family: 'Montserrat';
    transition: all 0.2s
}
.main_button:hover{
    background-color: rgba(255, 255, 255, 0.418);
    box-shadow: #000000;
}

/* 3 BLOCK */

.section{
    background-color: rgb(15, 15, 15);
    width: 100%;
    height: auto;
    background: linear-gradient(to top,rgb(15, 15, 15) 90%, rgb(228, 228, 228));
}
.content_section{
    padding-top: 100px;
    background-color: rgba(15, 15, 15, 0.767);
    border-radius: 30px;
}
.window_about{
   font-size: 45px;
   font-family: 'Montserrat';
   color:rgb(255, 255, 255);
   text-align: center;
}
.polosa_about{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    margin-top: 20px;
}
.window_about2{
    display: flex;
    margin-top: 40px;
}
.img_about_png{
    width: 512px;
    height: 512pxs;
}
.text_about{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    padding-top: 150px;
}
.text1_about,.text2_about{
    text-align: right;
}
.text_about_button{
    display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin-left: 250px;
    margin-top: 50px;
	outline: none;
	border: none;  
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	color: #385898;
	background-color: #e7f3ff;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.text_about_button:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.text_about_button:hover {
	background-color: #DBE7F2;
}
.text_about_button:active {
	transform: scale(0.96);
}
.text_about_button:disabled {
	pointer-events: none;
	opacity: 0.65;
}
.section2{
    background-color: rgb(15, 15, 15);;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.content_section2{
    padding-top: 100px;
}
.limit_buy{
    color: rgb(255, 255, 255); 
    font-size: 40px; 
    font-weight: bolder; 
    font-family: 'Montserrat'; 
    line-height: 150%; 
    text-shadow: #000000 0px 1px 1px;
}
.text_up_exhanges{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 30px;
}
.exhanges{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.ftx,.binance,.huobi{
    background-color: rgba(29, 29, 29, 0.87);
    border-radius: 30px;
    padding: 10px 15px;
}
.cost,.cost2,.cost3{
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite; 
    font-size: 30px;
    font-family: 'Montserrat';
    text-align: center;
}

@-webkit-keyframes pulsate{ 50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate{ 50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;} 

}
.quantity_inner{
    margin-top: 30px;
    display: flex;
    margin-left: 60px;
}
.bt_minus,.bt_plus{
    display: block;
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
    height: 40px;
    width: 40px;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    outline: 0;
}
.quantity_inner .quantity {
    width: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
    stroke: #337AB7;
    stroke-width: 4;
    transition: 0.5s;
    margin: 10px;
}    
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
    stroke: #000;
}
.buy_div{
    text-align: center;
    margin-top: 30px;
}
.buy_button{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: bolder;
    text-transform: uppercase;
}
.buy_button:hover{
    color: rgb(50, 173, 255);
    transition: 0.5s;
}



.section3{
    background-color: rgb(15, 15, 15);;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}
.content_section3{
    padding-top: 150px;
}
.meetourteam{
    text-align: center;
}
.meetourteam_text{
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to right, blue, rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.meetourteam_text-animated{
    background: linear-gradient(to right, blue, rgb(255, 255, 255));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
    font-size: 25px;
    line-height: 25px;
}
   
@-webkit-keyframes rainbow{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
} 
@keyframes rainbow{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}
.team{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.name_teamer1,.name_teamer2,.name_teamer3{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
}
.who_teamer1,.who_teamer2,.who_teamer3{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    margin-top: 13px;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position: fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img_icons/icon_top.png') no-repeat;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline:none;
}
.login_button{
    background-color: #426ac0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-family: 'Montserrat';
}
.username,.password{
    font-size: 18px;
    font-family:'Montserrat';
    color: white;
    font-weight: bold;
}
.remember{
    font-family:'Montserrat';
    color: white;
    font-size: 15px;
}
.psw{
    padding: 12px 13px;
    font-size: 15px;
    font-family: 'Montserrat';
    color: #426ac0;
    background-color: #ffffff;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #426ac0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.container_login {
    padding: 16px;
    max-width: 400px;
    margin:  0 auto;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-content {
    background-color: #353535;
    margin: 5% auto 15% auto; 
    border: 1px solid rgba(0, 0, 0, 0.37);
    width: 50%; 
    text-align: center;
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 0;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(232, 127, 241);
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}   
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.container_cancel{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

